{
  "env": {
    "mocha": true,
      "node": true,
      "es6": true
  },
    "extends": [
      "eslint:recommended",
    "plugin:node/recommended"
    ],
    "rules": {
      "node/no-unsupported-features/es-syntax": [
        "error",
      {
        "version": ">=8.0.0",
        "ignores": [
          "modules"
        ]
      }
      ],
      "no-console": "off",
      "no-process-exit": "off"
    },
    "parser": "babel-eslint",
    "globals": {
      "expect": true,
      "request": true,
      "setupApp": true,
      "supertest": true
    },
    "parserOptions": {
      "sourceType": "module"
    }
}
